.auth_menu {
	float: right;
}

.menu p {
	float: left;
	display: block;
	margin: 15px 0px 5px 10px;
	padding: 0px;
}

select {
	padding: 5px;
}

h1 {
	float: left;
	color: green;
	padding-top: 5px;
	padding: 10px;
	width: 220px;
	margin: 5px;
	margin-right: 10px;
}

header {
	background: powderblue;
	padding: 10px;
	margin: 10px;
	height: 600px;
}

nav {
	float: right;

}

.container {
	width: 900px;
	margin: 0 auto;
	padding: 0;
}

.right {
	font-size: 16px;
	margin-right: auto;
}

.title_first {
	font-size: 35px;
	color: sandybrown;
	width: auto;
	padding: 50px;
	text-align: center;
}

.auth {
	float: right;
	width: 120px;
	margin: 3px;

}

.menu {
	margin: 5px;
	padding: 5px;
}

.menu a {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}

.sell_tab {
    color: #fff;
	display: block;
	border-radius: 3px;
	float: right;
	width: 480px;
	padding: 20px 0px 20px 60px;
	margin: 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background: red;
}

.buy_tab {
	color: #fff;
	float: left;
	display: block;
	border-radius: 3px;
	width: 480px;
	padding: 20px 0px 20px 60px;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background: green;
}


.search_trade_form {
	padding: auto;
	margin: auto;
}

.navigation_tab {
	display: block;
	padding: 0;
	margin: 0;
}


.active_buy {
	float: left;
	padding: 0;
	margin: 0;
}

.active_sell {
	float: right;
	padding: 0;
	margin: 0;
}



