{% extends "base.html" %}

{% block title %}{{Main}}{% endblock %}

{% block title_first %}
<div class="title_first">
    Покупайте и продавайте биткоины рядом с вами
</div>
{% endblock %}

{% block homesection %}
<section>
  <div class="search_trade_form">
    <ul class="navigation_tab" role="tablist">
      <li role="presentation" class="active_buy">
        <a href="#" class="buy_tab">Быстрая покупка</a>
      </li>
      <li role="presentation" class="active_sell">
        <a href="#" class="sell_tab">Быстрая продажа</a>
      </li>
    </ul>
  </div>
  <div class="tab_content">
    <div class="table_buy">
      <table class="buyers">
        <tbody>
          <tr>
            <th>Buyer</th>
            <th>Payment method</th>
            <th>Price</th>
            <th>Limit</th>
            <th>Start deal</th>
          </tr>
          <tr>
            {% for content, data in buyobject %}
            <td>{{data.content}}</td>
            {% endfor %}
            <td><button>Start</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table_sell">
      <table class="sellers">
        <tbody>
          <tr>
            <th>Seller</th>
            <th>Payment method</th>
            <th>Price</th>
            <th>Limit</th>
            <th>Start deal</th>
          </tr>
          <tr>
            {% for content, data in sellobject %}
            <td>{{data.content}}</td>
            {% endfor %}
             <td><button>Start</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}

<footer>

</footer>













